# Rust build output (any exercise folder)
*/target/

# IDE config folders
*/.idea/
*/.vscode/

# Cargo package files
*/Cargo.lock

# Executables and debug files
*.exe
*.pdb
*.dll
*.so
*.dylib

# OS / misc
.DS_Store
Thumbs.db
